{{define "inboundInfoStream"}}
<p>transmissão: <a-tag color="green">[[ inbound.network ]]</a-tag></p>

<template v-if="inbound.isTcp || inbound.isWs || inbound.isH2">
    <p v-if="inbound.host">host: <a-tag color="green">[[ inbound.host ]]</a-tag></p>
    <p v-else>host: <a-tag color="orange">Nenhum</a-tag></p>

    <p v-if="inbound.path">path: <a-tag color="green">[[ inbound.path ]]</a-tag></p>
    <p v-else>path: <a-tag color="orange">Nenhum</a-tag></p>
</template>

<template v-if="inbound.isQuic">
    <p>quic criptografia: <a-tag color="green">[[ inbound.quicSecurity ]]</a-tag></p>
    <p>quic senha: <a-tag color="green">[[ inbound.quicKey ]]</a-tag></p>
    <p>quic camuflar: <a-tag color="green">[[ inbound.quicType ]]</a-tag></p>
</template>

<template v-if="inbound.isKcp">
    <p>kcp criptografia: <a-tag color="green">[[ inbound.kcpType ]]</a-tag></p>
    <p>kcp senha: <a-tag color="green">[[ inbound.kcpSeed ]]</a-tag></p>
</template>

<template v-if="inbound.isGrpc">
    <p>grpc serviceName: <a-tag color="green">[[ inbound.serviceName ]]</a-tag></p>
</template>

<template v-if="inbound.tls || inbound.xtls">
    <p v-if="inbound.tls">tls: <a-tag color="green">ligar</a-tag></p>
    <p v-if="inbound.xtls">xtls: <a-tag color="green">ligar</a-tag></p>
</template>
<template v-else>
    <p>tls: <a-tag color="red">desligar</a-tag></p>
</template>
<p v-if="inbound.tls">
    nome de domínio tls: <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName : "Nenhum" ]]</a-tag>
</p>
<p v-if="inbound.xtls">
    nome de domínio xtls: <a-tag :color="inbound.serverName ? 'green' : 'orange'">[[ inbound.serverName ? inbound.serverName : "Nenhum" ]]</a-tag>
</p>
{{end}}


{{define "component/inboundInfoComponent"}}
<div>
    <p>protocolo: <a-tag color="green">[[ dbInbound.protocol ]]</a-tag></p>
    <p>endereço: <a-tag color="blue">[[ dbInbound.address ]]</a-tag></p>
    <p>porta: <a-tag color="green">[[ dbInbound.port ]]</a-tag></p>

    <template v-if="dbInbound.isVMess">
        <p>uuid: <a-tag color="green">[[ inbound.uuid ]]</a-tag></p>
        <p>alterId: <a-tag color="green">[[ inbound.alterId ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isVLess">
        <p>uuid: <a-tag color="green">[[ inbound.uuid ]]</a-tag></p>
        <p v-if="inbound.isXTls">flow: <a-tag color="green">[[ inbound.flow ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isTrojan">
        <p>senha: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isSS">
        <p>criptografia: <a-tag color="green">[[ inbound.method ]]</a-tag></p>
        <p>senha: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isSocks">
        <p>nome de usuário: <a-tag color="green">[[ inbound.username ]]</a-tag></p>
        <p>senha: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isHTTP">
        <p>nome de usuário: <a-tag color="green">[[ inbound.username ]]</a-tag></p>
        <p>senha: <a-tag color="green">[[ inbound.password ]]</a-tag></p>
    </template>

    <template v-if="dbInbound.isVMess || dbInbound.isVLess || dbInbound.isTrojan || dbInbound.isSS">
        {{template "inboundInfoStream"}}
    </template>
</div>
{{end}}

{{define "component/inboundInfo"}}
<script>
    Vue.component('inbound-info', {
        delimiters: ['[[', ']]'],
        props: ["dbInbound", "inbound"],
        template: `{{template "component/inboundInfoComponent"}}`,
    });
</script>
{{end}}